*{
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    grid-template-areas: 
        "navbar navbar"
        "sidebar main"
        "footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 250px 2fr;
    gap: 10px;
    min-height: 100vh;
   
}

.grid-container .header{
    grid-area: header;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.sidebar{
    grid-area: sidebar;
    font-size: 18px;
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}



main{
    grid-area: main;
}
.producto {
    display: flex;
    gap: 5px;
    grid-area: producto;
    padding: 10px;
    text-align: start;
}

.grid-container .contenido{
    grid-area: contenido;
    
}

.producto .cantidad{
    color: #8787A3;
}

.product-card{
    width: 70px;
    height: auto;
    
}
footer{
    grid-area: footer;
    text-align: center;
}


.grid-container img {
    grid-area: auto;
    width: 150px;
    height: auto;
    display: block;
}

